.postFull {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -4rem;

  .post {
    $bradius: 6px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: $bradius;
    width: 67rem;
    min-height: 40rem;
    max-height: 44rem;
    display: grid;
    grid-template-areas:
                        "img top"
                        "img comments"
                        "img btns"
                        "img likes"
                        "img addcomment";
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 7.6rem 1fr 3rem 1.7rem 3rem;


    .top {
      grid-area: top;
      display: flex;
      align-items: center;
      justify-content: center;
      & > a {
        display: grid;
        grid-template-columns: 4.1rem 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        text-decoration: none;
      }
      .moreOptions{
        position: absolute;
        top: .3rem;
        right: .5rem;
      }
      img {
        grid-row: span 2;
        $size: 3.8rem;
        width: $size;
        height: $size;
        border-radius: 50%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      }

      $spacing: -.72rem;
      a > span{
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: $spacing;
        color: black;
      }

      p {
        margin: 0;
        color: #707070;
        font-size: 1rem;
        margin-top: $spacing;
      }

      position: relative;
      &>svg{
        position: absolute;
        right: 0;
        top: 0;
      }

      position: relative;
      &:after{
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.27);
        width: 95%;
        height: 1px;
        bottom: 0;
      }
    }

    .imgContainer {
      grid-area: img;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background: rgb(0, 0, 0);
      border-radius: $bradius 0 0 $bradius;
      overflow: hidden;

      img {
        width: 100%;
        max-height: 100%;
        object-fit: cover
      }
    }

    .btns {
      grid-area: btns;
      display: flex;
      justify-content: space-between;
      margin: .6rem .6rem;
      svg{
        $size: 2.2rem;
        width: $size;
        height: $size;
      }
      .left{
        display: flex;
        gap: .5rem;
      }
    }

    .likes {
      grid-area: likes;
      font-weight: 500;
      margin-left: .7rem;
    }

    .comments {
      grid-area: comments;
      display: flex;
      flex-direction: column;
      margin: 1rem 1.1rem;
      margin-bottom: 0;
      gap: .3rem;
      overflow-y: scroll;


      .postComment{
        display: flex;
        align-items: center;
        gap: .4rem;
        width: 100%;
        border-radius: 15px;
        padding: .6rem .2rem;

        &:hover{
          background: #f6f6f6;
        }
        
        img{
          $size: 2rem;
          width: $size;
          height: $size;
          border-radius: 50%;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        }

        p{
          margin: 0;
        }

        a{
          text-decoration: none;
          color: black;
          font-weight: 600;
          padding-right: .3rem;
        }
      }

      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar
      {
        width: 6px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #9d9d9d;
      }
    }

    .addcomment {
      grid-area: addcomment;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: #cecece;
        width: calc(100% + 2rem);
        height: 1px;
        top: -1rem;
        left: -1rem;
      }

      input {
        font-size: .9rem;
        border: none;
        background: transparent;
        outline: none;
      }
    }
  }
}