.profCont{
  position: relative;

}
.profMenu{

  $color: #444444;
  width: max-content;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;

  position: absolute;
  left: -4rem;
  top: 2.8rem;

  &>svg{
    position: absolute;
    top: -.8rem;
    left: 4rem;
    z-index: 99;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
    fill: white;
  }
  *{
    color: $color;
  }
  span{
    text-align: left;
  }
  a{
    display: grid;
    grid-template-columns: 1.8rem 1fr;
    align-items: center;
    text-align: left;
    padding: .7rem 7.5rem .7rem .8rem;
    text-decoration: none;
    background: #ffffff;
    z-index: 100;
    &:hover{
      background: #f8f8f8;
    }
    svg{
      $size: 1.1rem;
      height: $size;
      width: auto;

      color: $color;
      fill: $color;
    }
  }
  button {
    text-align: left;
    background: transparent;
    border: none;
    &:hover{
      background: #f8f8f8;
    }
    position: relative;
    padding: .9rem 5rem .9rem 2.5rem;
    &:after {
      content: '';
      background: #cbcbcb;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
@media (max-width: 1200px) {
  .profMenu{
    left: auto;
    right: -2.8rem;
    top: 2.8rem;
    &>svg{
      left: auto;
      right: 2.8rem;
    }
  }
}
@media (max-width: 600px){
  .profMenu {
    a,button{
      font-size: .7rem;
    }
    button{
      padding: .7rem 5rem .7rem 2.8rem;
    }
  }
}